body{
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
a:hover{
  text-decoration: underline;
}
header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 10%;
  padding-right: 25px;
  color: hsl(0, 0%, 20%);
  font-size: 0.9em;
}
header a{
  margin-right: 15px;
}
#sign-in-button{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  font-weight: 800;
  width: 67px;
  height: 29px;
  background-color: royalblue;
  color: white;
  border-radius: 2px;
  margin-right:0;
  text-decoration: none;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 77%;
}
#search-section{
  width: 570px;
}
#search-section-top{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#searchbar{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 99%;
  height: 45px;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 40px;
}
#searchbar:hover{
  box-shadow: 0 4px 8px 0 hsl(0, 0%, 80%), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#magnifier{
  margin-left: 12px;
  margin-right: 12px;
  width: 15px;
  height: 15px;
}
#searchbar form{
  width: 91%;
  height: 67%;
}
#searchbar input{
  width: 100%;
  height: 100%;
}
#search-section-bottom{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.search-submit{
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 40%);
  width: 110px;
  height: 39px;
  margin: 7px;
  border-radius: 3px;
}
.search-submit:hover{
  color: black;
  border: 1px solid hsl(0, 0%, 80%);
  cursor: pointer;
}
footer{
  height: 12.7%;
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 40%)
}
#footer-top, #footer-bottom{
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  border-top: 1px solid hsl(0, 0%, 87%);
  padding-left: 25px;
}
#footer-bottom{
  justify-content: space-between;
}
footer a{
  padding-right: 25px;
}